<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Abrevedotbelow.ss01</key>
    <string>A_brevedotbelow.ss01.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif</string>
    <key>Acircumflexdotbelow.ss01</key>
    <string>A_circumflexdotbelow.ss01.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresis.ss01</key>
    <string>A_dieresis.ss01.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif</string>
    <key>Adotbelow.ss01</key>
    <string>A_dotbelow.ss01.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Cdotaccent.ss01</key>
    <string>C_dotaccent.ss01.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>Ecircumflexdotbelow</key>
    <string>E_circumflexdotbelow.glif</string>
    <key>Ecircumflexdotbelow.ss01</key>
    <string>E_circumflexdotbelow.ss01.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edieresis.ss01</key>
    <string>E_dieresis.ss01.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Edotaccent.ss01</key>
    <string>E_dotaccent.ss01.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>Edotbelow.ss01</key>
    <string>E_dotbelow.ss01.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Ehookabove</key>
    <string>E_hookabove.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ss06</key>
    <string>G_.ss06.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gbreve.ss06</key>
    <string>G_breve.ss06.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcaron.ss06</key>
    <string>G_caron.ss06.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcircumflex.ss06</key>
    <string>G_circumflex.ss06.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gcommaaccent.ss06</key>
    <string>G_commaaccent.ss06.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Gdotaccent.ss01</key>
    <string>G_dotaccent.ss01.glif</string>
    <key>Gdotaccent.ss01.ss06</key>
    <string>G_dotaccent.ss01.ss06.glif</string>
    <key>Gdotaccent.ss06</key>
    <string>G_dotaccent.ss06.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.ss02</key>
    <string>I_.ss02.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>IJ.ss02</key>
    <string>I_J_.ss02.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Iacute.ss02</key>
    <string>I_acute.ss02.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Ibreve.ss02</key>
    <string>I_breve.ss02.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Icircumflex.ss02</key>
    <string>I_circumflex.ss02.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idieresis.ss01</key>
    <string>I_dieresis.ss01.glif</string>
    <key>Idieresis.ss02</key>
    <string>I_dieresis.ss02.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Idotaccent.ss01</key>
    <string>I_dotaccent.ss01.glif</string>
    <key>Idotaccent.ss02</key>
    <string>I_dotaccent.ss02.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif</string>
    <key>Idotbelow.ss01</key>
    <string>I_dotbelow.ss01.glif</string>
    <key>Idotbelow.ss02</key>
    <string>I_dotbelow.ss02.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Igrave.ss02</key>
    <string>I_grave.ss02.glif</string>
    <key>Ihookabove</key>
    <string>I_hookabove.glif</string>
    <key>Ihookabove.ss02</key>
    <string>I_hookabove.ss02.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Imacron.ss02</key>
    <string>I_macron.ss02.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Iogonek.ss02</key>
    <string>I_ogonek.ss02.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>Itilde.ss02</key>
    <string>I_tilde.ss02.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jacute</key>
    <string>J_acute.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Ldot.ss01</key>
    <string>L_dot.ss01.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif</string>
    <key>Ocircumflexdotbelow.ss01</key>
    <string>O_circumflexdotbelow.ss01.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresis.ss01</key>
    <string>O_dieresis.ss01.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Odotbelow.ss01</key>
    <string>O_dotbelow.ss01.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohookabove</key>
    <string>O_hookabove.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif</string>
    <key>Ohorndotbelow</key>
    <string>O_horndotbelow.glif</string>
    <key>Ohorndotbelow.ss01</key>
    <string>O_horndotbelow.ss01.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresis.ss01</key>
    <string>U_dieresis.ss01.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif</string>
    <key>Udotbelow.ss01</key>
    <string>U_dotbelow.ss01.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhookabove</key>
    <string>U_hookabove.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif</string>
    <key>Uhorndotbelow.ss01</key>
    <string>U_horndotbelow.ss01.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wdieresis.ss01</key>
    <string>W_dieresis.ss01.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ydieresis.ss01</key>
    <string>Y_dieresis.ss01.glif</string>
    <key>Ydotbelow</key>
    <string>Y_dotbelow.glif</string>
    <key>Ydotbelow.ss01</key>
    <string>Y_dotbelow.ss01.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Yhookabove</key>
    <string>Y_hookabove.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Zdotaccent.ss01</key>
    <string>Z_dotaccent.ss01.glif</string>
    <key>_B.currency</key>
    <string>_B_.currency.glif</string>
    <key>_Thorn.bowl</key>
    <string>_T_horn.bowl.glif</string>
    <key>_baht.bar</key>
    <string>_baht.bar.glif</string>
    <key>_bitcoin.bars</key>
    <string>_bitcoin.bars.glif</string>
    <key>_circle</key>
    <string>_circle.glif</string>
    <key>_copyright.C</key>
    <string>_copyright.C_.glif</string>
    <key>_published.P</key>
    <string>_published.P_.glif</string>
    <key>_slash.equal</key>
    <string>_slash.equal.glif</string>
    <key>_tail.Q</key>
    <string>_tail.Q_.glif</string>
    <key>_zero.tf.base</key>
    <string>_zero.tf.base.glif</string>
    <key>_zero.tf.slash</key>
    <string>_zero.tf.slash.glif</string>
    <key>_zero.tf.slash.ss06</key>
    <string>_zero.tf.slash.ss06.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.ss04</key>
    <string>a.ss04.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>aacute.ss04</key>
    <string>aacute.ss04.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abreve.ss04</key>
    <string>abreve.ss04.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>abreveacute.ss04</key>
    <string>abreveacute.ss04.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>abrevedotbelow.ss01</key>
    <string>abrevedotbelow.ss01.glif</string>
    <key>abrevedotbelow.ss04</key>
    <string>abrevedotbelow.ss04.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>abrevegrave.ss04</key>
    <string>abrevegrave.ss04.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevehookabove.ss04</key>
    <string>abrevehookabove.ss04.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>abrevetilde.ss04</key>
    <string>abrevetilde.ss04.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflex.ss04</key>
    <string>acircumflex.ss04.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexacute.ss04</key>
    <string>acircumflexacute.ss04.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif</string>
    <key>acircumflexdotbelow.ss01</key>
    <string>acircumflexdotbelow.ss01.glif</string>
    <key>acircumflexdotbelow.ss04</key>
    <string>acircumflexdotbelow.ss04.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>acircumflexgrave.ss04</key>
    <string>acircumflexgrave.ss04.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflexhookabove.ss04</key>
    <string>acircumflexhookabove.ss04.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>acircumflextilde.ss04</key>
    <string>acircumflextilde.ss04.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adieresis.ss04</key>
    <string>adieresis.ss04.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>adotbelow.ss01</key>
    <string>adotbelow.ss01.glif</string>
    <key>adotbelow.ss04</key>
    <string>adotbelow.ss04.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>agrave.ss04</key>
    <string>agrave.ss04.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>ahookabove.ss04</key>
    <string>ahookabove.ss04.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>amacron.ss04</key>
    <string>amacron.ss04.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aogonek.ss04</key>
    <string>aogonek.ss04.glif</string>
    <key>apple</key>
    <string>apple.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aring.ss04</key>
    <string>aring.ss04.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>atilde.ss04</key>
    <string>atilde.ss04.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>baht</key>
    <string>baht.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bitcoin</key>
    <string>bitcoin.glif</string>
    <key>blackCircle</key>
    <string>blackC_ircle.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb_acutecomb</key>
    <string>brevecomb_acutecomb.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bullet.ss01</key>
    <string>bullet.ss01.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cdotaccent.ss01</key>
    <string>cdotaccent.ss01.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.T</key>
    <string>cedillacomb.T_.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>checkmark</key>
    <string>checkmark.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.ss01</key>
    <string>colon.ss01.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.ss01</key>
    <string>comma.ss01.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.ss01</key>
    <string>dieresiscomb.ss01.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.ss01</key>
    <string>dotaccentcomb.ss01.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotbelowcomb.ss01</key>
    <string>dotbelowcomb.ss01.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>ecircumflexdotbelow.ss01</key>
    <string>ecircumflexdotbelow.ss01.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edieresis.ss01</key>
    <string>edieresis.ss01.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>edotaccent.ss01</key>
    <string>edotaccent.ss01.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>edotbelow.ss01</key>
    <string>edotbelow.ss01.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.blackCircled</key>
    <string>eight.blackC_ircled.glif</string>
    <key>eight.circled</key>
    <string>eight.circled.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>ellipsis.ss01</key>
    <string>ellipsis.ss01.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.ss01</key>
    <string>exclam.ss01.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.case</key>
    <string>exclamdown.case.glif</string>
    <key>exclamdown.ss01</key>
    <string>exclamdown.ss01.glif</string>
    <key>exclamdown.ss01.case</key>
    <string>exclamdown.ss01.case.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f.liga</key>
    <string>f_f.liga.glif</string>
    <key>f_f_i.liga</key>
    <string>f_f_i.liga.glif</string>
    <key>f_f_i.liga.ss01</key>
    <string>f_f_i.liga.ss01.glif</string>
    <key>f_y.liga</key>
    <string>f_y.liga.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi.ss01</key>
    <string>fi.ss01.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.blackCircled</key>
    <string>five.blackC_ircled.glif</string>
    <key>five.circled</key>
    <string>five.circled.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.blackCircled</key>
    <string>four.blackC_ircled.glif</string>
    <key>four.circled</key>
    <string>four.circled.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss05</key>
    <string>g.ss05.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gbreve.ss05</key>
    <string>gbreve.ss05.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcaron.ss05</key>
    <string>gcaron.ss05.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcircumflex.ss05</key>
    <string>gcircumflex.ss05.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gcommaaccent.ss05</key>
    <string>gcommaaccent.ss05.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>gdotaccent.ss01</key>
    <string>gdotaccent.ss01.glif</string>
    <key>gdotaccent.ss01.ss05</key>
    <string>gdotaccent.ss01.ss05.glif</string>
    <key>gdotaccent.ss05</key>
    <string>gdotaccent.ss05.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.ss01</key>
    <string>i.ss01.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idieresis.ss01</key>
    <string>idieresis.ss01.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotaccent.ss01</key>
    <string>idotaccent.ss01.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>idotbelow.dotless</key>
    <string>idotbelow.dotless.glif</string>
    <key>idotbelow.dotless.ss01</key>
    <string>idotbelow.dotless.ss01.glif</string>
    <key>idotbelow.ss01</key>
    <string>idotbelow.ss01.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>iogonek.dotless</key>
    <string>iogonek.dotless.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.ss01</key>
    <string>j.ss01.glif</string>
    <key>jacute</key>
    <string>jacute.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.ss02</key>
    <string>l.ss02.glif</string>
    <key>l.ss03</key>
    <string>l.ss03.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lacute.ss02</key>
    <string>lacute.ss02.glif</string>
    <key>lacute.ss03</key>
    <string>lacute.ss03.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcaron.ss02</key>
    <string>lcaron.ss02.glif</string>
    <key>lcaron.ss03</key>
    <string>lcaron.ss03.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>lcommaaccent.ss02</key>
    <string>lcommaaccent.ss02.glif</string>
    <key>lcommaaccent.ss03</key>
    <string>lcommaaccent.ss03.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>ldot.ss01</key>
    <string>ldot.ss01.glif</string>
    <key>ldot.ss01.ss02</key>
    <string>ldot.ss01.ss02.glif</string>
    <key>ldot.ss01.ss03</key>
    <string>ldot.ss01.ss03.glif</string>
    <key>ldot.ss02</key>
    <string>ldot.ss02.glif</string>
    <key>ldot.ss03</key>
    <string>ldot.ss03.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>lslash.ss02</key>
    <string>lslash.ss02.glif</string>
    <key>lslash.ss03</key>
    <string>lslash.ss03.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.blackCircled</key>
    <string>nine.blackC_ircled.glif</string>
    <key>nine.circled</key>
    <string>nine.circled.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>ocircumflexdotbelow.ss01</key>
    <string>ocircumflexdotbelow.ss01.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odieresis.ss01</key>
    <string>odieresis.ss01.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>odotbelow.ss01</key>
    <string>odotbelow.ss01.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.e</key>
    <string>ogonekcomb.e.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>ohorndotbelow</key>
    <string>ohorndotbelow.glif</string>
    <key>ohorndotbelow.ss01</key>
    <string>ohorndotbelow.ss01.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.blackCircled</key>
    <string>one.blackC_ircled.glif</string>
    <key>one.circled</key>
    <string>one.circled.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.ss01</key>
    <string>period.ss01.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>periodcentered.loclCAT.case.ss01</key>
    <string>periodcentered.loclC_A_T_.case.ss01.glif</string>
    <key>periodcentered.loclCAT.ss01</key>
    <string>periodcentered.loclC_A_T_.ss01.glif</string>
    <key>periodcentered.ss01</key>
    <string>periodcentered.ss01.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>published</key>
    <string>published.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>questiondown.ss01</key>
    <string>questiondown.ss01.glif</string>
    <key>questiondown.ss01.case</key>
    <string>questiondown.ss01.case.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblbase.ss01</key>
    <string>quotedblbase.ss01.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblleft.ss01</key>
    <string>quotedblleft.ss01.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblright.ss01</key>
    <string>quotedblright.ss01.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteleft.ss01</key>
    <string>quoteleft.ss01.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quoteright.ss01</key>
    <string>quoteright.ss01.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesinglbase.ss01</key>
    <string>quotesinglbase.ss01.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon.ss01</key>
    <string>semicolon.ss01.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.blackCircled</key>
    <string>seven.blackC_ircled.glif</string>
    <key>seven.circled</key>
    <string>seven.circled.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.blackCircled</key>
    <string>six.blackC_ircled.glif</string>
    <key>six.circled</key>
    <string>six.circled.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slashlongcomb</key>
    <string>slashlongcomb.glif</string>
    <key>slashlongcomb.case</key>
    <string>slashlongcomb.case.glif</string>
    <key>slashshortcomb</key>
    <string>slashshortcomb.glif</string>
    <key>slashshortcomb.case</key>
    <string>slashshortcomb.case.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>strokelongcomb</key>
    <string>strokelongcomb.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>strokeshortcomb.case</key>
    <string>strokeshortcomb.case.glif</string>
    <key>strokeshortcomb.case.T</key>
    <string>strokeshortcomb.case.T_.glif</string>
    <key>strokeshortcomb.t</key>
    <string>strokeshortcomb.t.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_i.liga</key>
    <string>t_i.liga.glif</string>
    <key>t_i.liga.ss01</key>
    <string>t_i.liga.ss01.glif</string>
    <key>t_t.liga</key>
    <string>t_t.liga.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.blackCircled</key>
    <string>three.blackC_ircled.glif</string>
    <key>three.circled</key>
    <string>three.circled.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.blackCircled</key>
    <string>two.blackC_ircled.glif</string>
    <key>two.circled</key>
    <string>two.circled.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udieresis.ss01</key>
    <string>udieresis.ss01.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>udotbelow.ss01</key>
    <string>udotbelow.ss01.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhookabove</key>
    <string>uhookabove.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uhorndotbelow</key>
    <string>uhorndotbelow.glif</string>
    <key>uhorndotbelow.ss01</key>
    <string>uhorndotbelow.ss01.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wdieresis.ss01</key>
    <string>wdieresis.ss01.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>whiteCircle</key>
    <string>whiteC_ircle.glif</string>
    <key>whiteFrowningFace</key>
    <string>whiteF_rowningF_ace.glif</string>
    <key>whiteSmilingFace</key>
    <string>whiteS_milingF_ace.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydieresis.ss01</key>
    <string>ydieresis.ss01.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>ydotbelow.ss01</key>
    <string>ydotbelow.ss01.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zdotaccent.ss01</key>
    <string>zdotaccent.ss01.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.blackCircled</key>
    <string>zero.blackC_ircled.glif</string>
    <key>zero.circled</key>
    <string>zero.circled.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zero.tf.ss07</key>
    <string>zero.tf.ss07.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
