<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f.liga</key>
    <string>f_f.liga.glif</string>
    <key>f_f_i.liga</key>
    <string>f_f_i.liga.glif</string>
    <key>f_f_i.liga.ss01</key>
    <string>f_f_i.liga.ss01.glif</string>
    <key>f_y.liga</key>
    <string>f_y.liga.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi.ss01</key>
    <string>fi.ss01.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
  </dict>
</plist>
