(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
DZcaron,
Eth,
Dcaron,
Dcroat,
Dzcaron,
E,
Eacute,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Etilde,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
Itilde,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Eng,
Ntilde,
O,
Oacute,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Yhookabove,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Abrevedotbelow.ss01,
Acircumflexdotbelow.ss01,
Adieresis.ss01,
Adotbelow.ss01,
Cdotaccent.ss01,
Ecircumflexdotbelow.ss01,
Edieresis.ss01,
Edotaccent.ss01,
Edotbelow.ss01,
G.ss01,
Gcommaaccent.ss01,
Gdotaccent.ss01,
Idieresis.ss01,
Idotaccent.ss01,
Idotbelow.ss01,
Ocircumflexdotbelow.ss01,
Odieresis.ss01,
Odotbelow.ss01,
Ohorndotbelow.ss01,
Udieresis.ss01,
Udotbelow.ss01,
Uhorndotbelow.ss01,
Wdieresis.ss01,
Ydieresis.ss01,
Ydotbelow.ss01,
I.ss02,
Iacute.ss02,
Icircumflex.ss02,
Idieresis.ss02,
Idotaccent.ss02,
Idotbelow.ss02,
Igrave.ss02,
Ihookabove.ss02,
Imacron.ss02,
Iogonek.ss02,
Itilde.ss02,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adotbelow,
agrave,
ahookabove,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
etilde,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
imacron,
iogonek,
itilde,
j,
jdotless,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
eng,
ntilde,
o,
oacute,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
yhookabove,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
e.001,
e.002,
a.ss01,
aacute.ss01,
abreveacute.ss01,
abrevedotbelow.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
acircumflex.ss01,
acircumflexacute.ss01,
acircumflexdotbelow.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
adieresis.ss01,
adotbelow.ss01,
agrave.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
cdotaccent.ss01,
ecircumflexdotbelow.ss01,
edieresis.ss01,
edotaccent.ss01,
edotbelow.ss01,
g.ss01,
gbreve.ss01,
gcaron.ss01,
gcircumflex.ss01,
gcommaaccent.ss01,
gdotaccent.ss01,
gmacron.ss01,
i.ss01,
idieresis.ss01,
idotbelow.ss01,
j.ss01,
ocircumflexdotbelow.ss01,
odieresis.ss01,
odotbelow.ss01,
ohorndotbelow.ss01,
udieresis.ss01,
udotbelow.ss01,
uhorndotbelow.ss01,
wdieresis.ss01,
ydieresis.ss01,
ydotbelow.ss01,
l.ss02,
lacute.ss02,
lcaron.ss02,
lcommaaccent.ss02,
lslash.ss02,
l.ss03,
fi,
fl,
f_f.liga,
f_f_i.liga,
f_y.liga,
t_i.liga,
t_t.liga,
fi.ss01,
f_f_i.liga.ss01,
t_i.liga.ss01,
ordfeminine,
ordmasculine,
mu,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
one.sansSerifCircled,
two.sansSerifCircled,
three.sansSerifCircled,
four.sansSerifCircled,
five.sansSerifCircled,
six.sansSerifCircled,
seven.sansSerifCircled,
eight.sansSerifCircled,
nine.sansSerifCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tf.ss03,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
exclamdown.case,
questiondown.case,
exclamdown.ss01.case,
questiondown.ss01.case,
period.ss01,
comma.ss01,
colon.ss01,
semicolon.ss01,
exclam.ss01,
exclamdown.ss01,
question.ss01,
questiondown.ss01,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
quotesinglbase.ss01,
quotedblbase.ss01,
quotedblleft.ss01,
quotedblright.ss01,
quoteleft.ss01,
quoteright.ss01,
space,
nbspace,
.notdef,
.null,
baht,
bitcoin,
cent,
currency,
dollar,
euro,
florin,
liraTurkish,
peseta,
rupeeIndian,
sheqel,
sterling,
tenge,
won,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
logicalnot,
asciitilde,
asciicircum,
infinity,
emptyset,
integral,
product,
summation,
radical,
percent,
perthousand,
upArrow,
rightArrow,
downArrow,
leftArrow,
leftRightArrow,
whiteFrowningFace,
whiteSmilingFace,
checkmark,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
degree,
bar,
brokenbar,
literSign,
numero,
estimated,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
slashshortcomb,
slashlongcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
caron.Alt,
dieresiscomb.ss01,
dotaccentcomb.ss01,
dotbelowcomb.ss01,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
_tail.Q,
_Slash.L,
_ogonek.e,
_Bar.t,
_Slash.l,
_Bar.H,
_Bar.T,
_cedilla.T,
_dcroat,
_circle,
_slash.equal
)