{
displayStrings = (
"HL++HL",
"HAVHHHH
LY
Fi
Ti
To
Tu
⁄/zero.dnom 
-s
s-
(n
74

EH
HH
HO
HT
HV
HZ
LH
PT
Hn
Ho
Hs
Hx
Hl
ff
fn
fo
gj
nn
on
ov
rn
tt
tv
vn
zz
fl
sl
₁₀
₁₁
₁₂
/one.dnom/two.dnom 
/one.dnom/zero.dnom 
/one.dnom/one.dnom 
/one.numr ⁄
l.
H,
H.
..
l!
l:
l?
1%
H!
H:
H?
l’
//l
l//
H//
l-
H-
l–
H–
––
l_
(l
[l
(H
(T
l@
H&
1=
==
ll
l/periodcentered.loclCAT 
10
11
12
13
14
17

AZ
ET
TV
vv
zv
ľl
-S
"
);
}
